th {
  // width: 20px;
  padding: 5px;
  font-weight: bold;
}

td {
  width: 50px;
  padding: 15px;
  text-align: center;
}

tr {
  padding: px;
}

thead {
  padding: 10px;
}

.team {
  width: 250px;

}

.tab-icon {
  background-image: url('./tableIcon.svg');
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: 10% 50%;
}